/* .container {
  display: flex;
} */
.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  flex: 1;
  overflow: auto;
  flex: 1 0 300px;
  z-index: -20;
}

.user-card img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.user-card a {
  color: #0077b5;
}

.user-card .task {
  margin-top: 20px;
  text-align: center;
}

.user-card .task h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.user-card .task p {
  font-size: 16px;
  color: #999;
}
.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.user-card img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.user-card a {
  color: #0077b5;
}

.user-card .task {
  margin-top: 20px;
  text-align: center;
}

.user-card .task h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.user-card .task p {
  font-size: 16px;
  color: #999;
}
.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  flex: 0 0 300px;
  margin: 20px;
}
/* .members-list {
  display: flex;
  /* flex-wrap: wrap; */
/* justify-content: center;
  max-width: 800px;
  margin: 0 auto;
} */
.memlist {
}
.task-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f8dc87;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

.task-count.golden {
  background-color: gold;
  color: white;
}
