.task-changes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-change {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
}

.task-change p {
  margin: 0;
  line-height: 1.5;
}

.task-change strong {
  font-weight: bold;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 500px) {
  .task-change {
    margin: 0 10px;
  }
}
